<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="inRiver:Username" value="kotsovolos@geta.no" />
        <add key="inRiver:Password" value="U9Rqqn=PffPu" />
        <add key="inRiver:Environment" value="test" />
        <add key="inRiver:RemotingUrl" value="https://remoting.productmarketingcloud.com" />

        <add key="inRiver:ExtensionUrl" value="https://inbound.productmarketingcloud.com/api" />
        <add key="inRiver:Controller" value="inbounddata" />
        <add key="inRiver:Customer" value="kotsovolos" />
        <add key="inRiver:ExtensionId" value="CommandExtension" />
        <add key="inRiver:ExtensionKey" value="52FE4BB1-3FD2-48FB-A262-2D27B1E3C490" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
